<%= form_with(model: @page, url: [:admin, @page], class: "mw7") do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <% unless @page.persisted? %>
    <div class="form-group">
      <%= f.label :slug, "Slug" %>
      <%= f.text_field :slug %>
      <span class="db silver f6 mt3">This cannot be updated after creation</span>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "wysiwyg" %>
  </div>

  <hr>

  <div class="flex items-center mt4">
    <%= f.submit "Save Changes", class: "bg-near-black white fw7 pa3 bn br2 pointer tracked f6 ttu" %>
    <% if @page.persisted? %>
      <%= link_to 'Delete Page', admin_page_path(@page), method: :delete, class: 'delete', "data-confirm" => "Are you sure you want to delete this?", class: "ml7 red" %>
    <% end %>
  </div>
<% end %>
