<div class="flex mt5">
  <h2 class="flex-auto ma0">Edit Startup</h2>
  <div class="ml5 self-center">
    <%= link_to "Cancel", admin_startups_path, class: "no-underline bg-light-silver white fw7 pa3 bn br2 pointer tracked f6 ttu" %>
  </div>
</div>
<hr>

<%= form_with(model: @startup, url: admin_startup_path, method: :put, class: "mw7") do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :year_founded %>
    <%= f.text_field :year_founded %>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form-group">
    <%= f.label :url, "Website URL" %>
    <%= f.text_field :url %>
  </div>
  <div class="form-group">
    <%= f.label :twitter, "Twitter handle" %>
    <%= f.text_field :twitter %>
  </div>
  <div class="form-group flex items-center">
    <div class="flex-auto mr5">
      <%= f.label :uploaded_logo, "Upload Logo" %>
      <%= f.file_field :uploaded_logo %>
      <p>Logo URL: <a href="<%= @startup.logo_url %>" target="_blank"><%= @startup.logo_url %></a></p>
    </div>
    <% if @startup.uploaded_logo_file_name.present? %>
      <div class="bg-dark-green">
        <%= image_tag @startup.uploaded_logo.url(:standard), class: "mw4" %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select(:status, ['pending', 'active']) %>
  </div>

  <hr>

  <p>Contact Name: <%= @startup.contact_name %></p>
  <p>Contact Email: <%= mail_to(@startup.contact_email, nil, subject: "Founded in Ireland") %></p>
  <p>Extra Information:<br><%= @startup.extra_info %></p>

  <hr>

  <div class="flex items-center mt4">
    <%= f.submit "Save Changes", class: "bg-near-black white fw7 pa3 bn br2 pointer tracked f6 ttu" %>
    <%= link_to 'Delete Startup', admin_startup_path(@startup), method: :delete, class: 'delete', "data-confirm" => "Are you sure you want to delete this?", class: "ml7 red" %>
  </div>

<% end %>

