<% content_for :header_content do %>
  <%= @homepage['homepage_header_content'].html_safe %>
<% end %>

<ul class="cbp-rfgrid">

  <% @startups.each do |startup| %>
    <li>
      <a href="<%= startup.url %>" target="_blank">
        <%= image_tag startup.uploaded_logo.url(:standard), alt: startup.name %>
        <div>
          <h3><%= startup.name %></h3>
        </div>
      </a>
    </li>
  <% end %>

</ul>

<% content_for :footer_content do %>
  <%= @homepage['homepage_footer_content'].html_safe %>
<% end %>
