<div class="flex mt5">
  <h2 class="flex-auto ma0">All Blog Posts</h2>
  <div class="ml5 self-center">
    <%= link_to "New Post", new_admin_post_path, class: "no-underline bg-blue white fw7 pa3 bn br2 pointer tracked f6 ttu" %>
  </div>
</div>
<hr>

<% unless @posts.present? %>
  <p>No posts created yet.</p>
<% else %>

  <table cellspacing="0">
    <thead>
      <tr>
        <th>Post Title</th>
        <th>Post Slug</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.slug %></td>
          <td><%= post.status %></td>
          <td><%= link_to "Edit", edit_admin_post_path(post) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


<% end %>
